.card {
    width: 240px;
    height: auto;
}

mat-menu-item.test {
    width: 15px;
}

.mbt20 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.auto-config {
    width: 50px;
}

.center {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    width: 100%;
}

.withoutArrow {
    transform: scale(0.6);
    width: 80px;
}

.highlight {
    font-size: larger;
}

.small {
    transform: scale(0.6);
}

.width100 {
    width: 100%;
}