.ml1 {
    margin-left: 1px;
}

.mr1 {
    margin-right: 1px;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-right: 5px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml15m {
    margin-left: -15px;
}

.mr15 {
    margin-right: 15px;
}

.mr15m {
    margin-right: -15px;
}

.ml25 {
    margin-left: 25px;
}

.width100 {
    width: 100%;
}

