.wrapper {
    margin-top: 100px;
    margin-left: 100px;
    width: 350px;
}

.width100 {
    width: 100%;
}

.form-btn {
    margin-right: 0px;
    width: 100px;
}

.align-btn {
    text-align: right;
}